<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.AirQualityIndexMapper">
  <resultMap id="BaseResultMap" type="com.qf.bean.AirQualityIndex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="district_id" jdbcType="INTEGER" property="districtId" />
    <result column="monitor_time" jdbcType="DATE" property="monitorTime" />
    <result column="pm10" jdbcType="INTEGER" property="pm10" />
    <result column="pm2.5" jdbcType="INTEGER" property="pm25" />
    <result column="monitoring_station" jdbcType="VARCHAR" property="monitoringStation" />
    <result column="last_modify_time" jdbcType="DATE" property="lastModifyTime" />

    <association property="district" javaType="com.qf.bean.District">
      <id column="did" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, district_id, monitor_time, pm10, `pm2.5`, monitoring_station, last_modify_time
  </sql>

  <select id="findall" resultMap="BaseResultMap">
    select a.*,d.id did,d.name name from air_quality_index a,district d where a.district_id=d.id
    <if test="disid!=-1">
      and a.district_id=#{disid}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from air_quality_index
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from air_quality_index
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.bean.AirQualityIndex">
    insert into air_quality_index (id, district_id, monitor_time, 
      pm10, pm2.5, monitoring_station, 
      last_modify_time)
    values (#{id,jdbcType=INTEGER}, #{districtId,jdbcType=INTEGER}, #{monitorTime,jdbcType=DATE},
      #{pm10,jdbcType=INTEGER}, #{pm25,jdbcType=INTEGER}, #{monitoringStation,jdbcType=VARCHAR},
      #{lastModifyTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.bean.AirQualityIndex">
    insert into air_quality_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="monitorTime != null">
        monitor_time,
      </if>
      <if test="pm10 != null">
        pm10,
      </if>
      <if test="pm25 != null">
        `pm2.5`,
      </if>
      <if test="monitoringStation != null">
        monitoring_station,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="monitorTime != null">
        #{monitorTime,jdbcType=DATE},
      </if>
      <if test="pm10 != null">
        #{pm10,jdbcType=INTEGER},
      </if>
      <if test="pm25 != null">
        #{pm25,jdbcType=INTEGER},
      </if>
      <if test="monitoringStation != null">
        #{monitoringStation,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.bean.AirQualityIndex">
    update air_quality_index
    <set>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=INTEGER},
      </if>
      <if test="monitorTime != null">
        monitor_time = #{monitorTime,jdbcType=DATE},
      </if>
      <if test="pm10 != null">
        pm10 = #{pm10,jdbcType=INTEGER},
      </if>
      <if test="pm25 != null">
        `pm2.5` = #{pm25,jdbcType=INTEGER},
      </if>
      <if test="monitoringStation != null">
        monitoring_station = #{monitoringStation,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.bean.AirQualityIndex">
    update air_quality_index
    set district_id = #{districtId,jdbcType=INTEGER},
      monitor_time = #{monitorTime,jdbcType=VARCHAR},
      pm10 = #{pm10,jdbcType=INTEGER},
      `pm2.5` = #{pm2.5,jdbcType=INTEGER},
      monitoring_station = #{monitoringStation,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>